<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowMeMyLovedOnes</key>
	<string>Show me my loved ones</string>
	<key>RemindMeWhereIAm</key>
	<string>Remind me what am I to do</string>
	<key>ThisIsMyLocationTask</key>
	<string>This is my location task</string>
	<key>ManageTasks</key>
	<string>Manage tasks</string>
	<key>Done</key>
	<string>Done</string>
	<key>addTaskTimeButton</key>
	<string>Edit task time</string>
	<key>btnStopRecord</key>
	<string>Stop recording</string>
	<key>btnPlay</key>
	<string>Play</string>
	<key>btnRecord</key>
	<string>Record</string>
	<key>taskConfirmationTaskSoundBtn</key>
	<string>Task Sound:</string>
	<key>taskConfirmationEditBtn</key>
	<string>Edit</string>
	<key>DoneButton</key>
	<string>Done</string>
	<key>EditButton</key>
	<string>Edit +</string>
	<key>PlaySound</key>
	<string>Play Sound</string>
	<key>Ok</key>
	<string>Ok</string>
	<key>Yes</key>
	<string>Yes</string>
	<key>No</key>
	<string>No</string>
	<key>NotificationThankYou</key>
	<string>Thank you</string>
	<key>RemingMeLater</key>
	<string>Remind me later</string>
	<key>OkThanks</key>
	<string>Ok thanks!</string>
</dict>
</plist>
