<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowMeMyLovedOnes</key>
	<string>Show me my loved ones</string>
	<key>RemindMeWhereIAm</key>
	<string>Remind me what am I to do</string>
	<key>ThisIsMyLocationTask</key>
	<string>This is my location task</string>
	<key>ManageTasks</key>
	<string>Manage tasks</string>
	<key>Done</key>
	<string>Done</string>
	<key>addTaskTimeButton</key>
	<string>+ Add time for task</string>
	<key>btnStopRecord</key>
	<string>Stop recording</string>
	<key>btnPlay</key>
	<string>Play</string>
	<key>btnRecord</key>
	<string>Record</string>
</dict>
</plist>
