<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TesksFirstExplenation</key>
	<string>Go to the location you desire,
Then click on the button to add a task.</string>
	<key>or</key>
	<string>Or</string>
	<key>enterTestName</key>
	<string>Enter task name</string>
	<key>taskName</key>
	<string>Task Name:</string>
	<key>addTaskTimeButton</key>
	<string>Edit time</string>
	<key>chooseTaskTypeBtn</key>
	<string>Choose task type</string>
	<key>addTimeDoneBtn</key>
	<string>Done</string>
	<key>addTaskVoiceTopTxt</key>
	<string>Record a sound to play every time the task firs (Optional)</string>
	<key>taskConfirmationTaskNameDesc</key>
	<string>Task Name:</string>
	<key>taskConfirmationTaskSoundDesc</key>
	<string>Task Sound</string>
	<key>taskConfirmationTaskTimeDesc</key>
	<string>Task Times</string>
	<key>taskConfirmationTaskTimePriorityDesc</key>
	<string>Task Time Priority</string>
	<key>addTaskVoiceTitle</key>
	<string>Task Voice</string>
	<key>AddTaskPrirityExpenation</key>
	<string>Turn switch on for Hi priority.\n That means You cannot accomplish the task not at time</string>
	<key>TaskManagerRemaining</key>
	<string>Remining %@</string>
	<key>TaskManagerCreateStickerTask</key>
	<string>+ Create sticker task</string>
	<key>TaskManagerCreateTask</key>
	<string>+ Create time task</string>
	<key>TaskManagerCreateGPSLocationTask</key>
	<string>+ Create GPS Location task</string>
	<key>TaskManagerVCLblTop</key>
	<string>My Memories</string>
	<key>TaskManagerVCNoRemainingTasks</key>
	<string>No remining tasks</string>
	<key>TaskManagerVCTaskNameCell</key>
	<string>Task name: </string>
	<key>TaskManagerVCDetailsTxtCell</key>
	<string>Schedule time: %@  major: %@</string>
	<key>TaskManagerVCNoTasksAssigened</key>
	<string>No tasks assigned</string>
	<key>TaskManagerVCNoNearableInEreas</key>
	<string>No beacons detected in current area</string>
	<key>TaskManagerVCTheNearableHasTaskAllreadyMessage</key>
	<string>The beacon you have selected already has a task assigend to it. Would you like to override it?</string>
	<key>TaskManagerVCTheNearableHasTaskAllreadyTitle</key>
	<string>Do you want to edit the task?</string>
	<key>AddTaskTimeDatePickerDialog</key>
	<string>Choose a date</string>
	<key>TaskWarningPopUpDidAllready</key>
	<string>You Already %@ today</string>
	<key>TaskWarningPopUpDidLaterToday</key>
	<string>The %@ is scheduled later today</string>
	<key>TaskWarningPopUpDidCerfulNotToTakeTwice</key>
	<string>Be careful not to do it twice</string>
	<key>TaskWarningPopUpDidPleaseWaitFor</key>
	<string>Please wait for %@</string>
	<key>TaskVerificationPopUpISeeYourNeer</key>
	<string>I see your near %@</string>
	<key>TaskVerificationPopUpDidYouYet</key>
	<string>Did you %@ yet?</string>
	<key>TaskVerificationPopUpGoodTimeOfDay</key>
	<string>Good %@!</string>
	<key>TaskVerificationPopUpItsTimeWithTime</key>
	<string>It&apos;s %@</string>
	<key>TabBarTasksLbl</key>
	<string>Tasks</string>
	<key>TaskManagerTitle</key>
	<string>Tasks manager</string>
	<key>TimeOfDayMorining</key>
	<string>morning</string>
	<key>TimeOfDayAfterNoon</key>
	<string>afternoon</string>
	<key>TimeOfDayEavning</key>
	<string>evening</string>
	<key>LogInBtn</key>
	<string>Log in</string>
	<key>passwordPlaceHolder</key>
	<string>Password</string>
	<key>userNamePlaceHolder</key>
	<string>User name</string>
	<key>btnChooseTaskType</key>
	<string>Choose task type</string>
	<key>btnCreateTask</key>
	<string> + Create task </string>
</dict>
</plist>
